* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* position: relative; */
    background-image: url('https://i.pinimg.com/originals/55/4e/76/554e7627abd0f651255f66998db91c35.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    position: relative;
    display: grid;
    place-content: center;
    font-size: 5rem;
    font-family: 'Press Start 2P', cursive;
    bottom: 15px;
    /* text-decoration: underline; */
}

.title_japanese {
    /* position: absolute; */
    color: white;
    font-size: 32pt;
    margin-bottom: 10px;
}

.footer__container {
    border-top: 1px solid rgba(82, 82, 82, 0.5);
    box-shadow: 2px 5px 5px 5px rgba(36, 36, 36, 0.5);
    height: 6%;
    color: white;
    background-color: rgba(109, 109, 109, 0.493);
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    z-index: 1;
}

.footer__content {
    margin-top: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content a {
    margin-right: 5%;
    margin-left: 5%;
}

.github__icon {
    margin-right: 40%;
    color: rgb(228, 228, 228);
    text-decoration: none;
    transform: scale(2.5);
}

.github__icon:hover {
    color: white;
}

.linkedIn__icon {
    color: rgb(228, 228, 228);
    text-decoration: none;
    transform: scale(2.5);
}

.linkedIn__icon:hover {
    color: white;
}

/* REMATCH BUTTON */

.rematch_btn {
    /* text-align: center; */
	display: inline-block;
	/* margin: 5px; */
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px 28px 10px 25px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: red;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    cursor: pointer;
    font-family: 'Press Start 2p';
    /* z-index: 99; */
    transition: 0.3s ease-in-out;
    position: absolute;
    margin-left: 46.5vw;
    margin-top: 60vh;
    box-shadow: 0 .5em gray;
}

.rematch_btn:hover {
	box-shadow: 0 .2em gray;
    transition: 0.3s ease-in-out;
	position: absolute;
    transform: translateY(4px);
}

@media only screen and (max-width: 2550px) {
    .footer__container {
        border-top: 1px solid rgba(82, 82, 82, 0.5);
        box-shadow: 2px 5px 5px 5px rgba(36, 36, 36, 0.5);
        height: 8%;
        color: white;
        background-color: rgba(109, 109, 109, 0.493);
        width: 100%;
        position: absolute;
        bottom: 0;
        align-items: center;
        z-index: 1;
    }

    .game_view {
        transform: scale(0.85);
        margin-bottom: 2%;
    }

    h1 {
        position: relative;
        display: grid;
        place-content: center;
        font-size: 5rem;
        font-family: 'Press Start 2P', cursive;
        bottom: 15px;
        /* text-decoration: underline; */
    }

    .title_japanese {
        /* position: absolute; */
        color: white;
        font-size: 32pt;
        margin-bottom: 10px;
    }

    .title_japanese {
        margin-bottom: -25px;
    }

    h1 {
        bottom: -15px;
    }
}

/* @media only screen and (max-width: 2250px) {
    .footer__container {
        border-top: 1px solid rgba(82, 82, 82, 0.5);
        box-shadow: 2px 5px 5px 5px rgba(36, 36, 36, 0.5);
        height: 6%;
        color: white;
        background-color: rgba(109, 109, 109, 0.493);
        width: 100%;
        position: absolute;
        bottom: 0;
        align-items: center;
        z-index: 1;
        overflow: hidden;
    }

    .game_view {
        transform: scale(0.85);
        margin-bottom: -3.5%;
    }

    .title_japanese {
        margin-bottom: -15px;
    }
} */

@media only screen and (max-width: 2350px) {
    .footer__container {
        border-top: 1px solid rgba(82, 82, 82, 0.5);
        box-shadow: 2px 5px 5px 5px rgba(36, 36, 36, 0.5);
        height: 6%;
        color: white;
        background-color: rgba(109, 109, 109, 0.493);
        width: 100%;
        position: absolute;
        bottom: 0;
        align-items: center;
        z-index: 1;
        overflow: hidden;
    }

    .game_view {
        transform: scale(0.75);
        margin-bottom: -3%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    h1 {
        font-size: 50pt;
    }

    .title_japanese {
        margin-bottom: -95px;
    }
}
